n.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .signup-form {
    width: 700px;
    padding: 30px;
    background-color: #e5ecf6;
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .signup-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .registerBusiness-form-group {
    margin-bottom: 5px;
    align-items: center;
  }
  
  .registerBusiness-label {
    display: inline-block;
    /* text-align: left; */
    font-weight: bold;
    width: 150px;
    margin-bottom: 5px;
  }
  
  .registerBusiness-input{
    width: 150px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }

  select {
    width: 150px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .registerBusiness-submit{
    width: 150px;
    background-color: rgb(114, 184, 253);
    border: none;
    border-radius: 4px;
    color: white;
    padding: 5px;
    font-weight: bold;
    margin-left: 10px;
  }
  
  .registerBusiness-submit-btn {
    width: 50%;
    padding: 10px;
    background-color: #4caf50;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  button[type="button"]:hover {
    background-color: rgb(69, 160, 252);
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  button[type="button"]:focus,
  button[type="submit"]:focus {
    outline: none;
  }
  
  select[multiple] {
    height: 80px;
  }