@font-face {
    font-family: "my";
    src: url("../../../public/fonts/SUITE-Heavy.ttf");
  }
  
  .event {
    display: flex;
    align-items: center;
  }
  
  .event-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .event-details {
    display: flex;
    flex-direction: column;
  }
  
  .event-title {
    font-weight: bold;
  }
  
  .event-description {
    margin-top: 5px;
    color: white;
  }
  
  .fc-event {
    border: none !important;
  }

  .fc {
    font-family: 'my', sans-serif; /* 적용할 원하는 글꼴 설정 */
  }

  .add-btn{
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: white;
    width: 200px;
    padding : 10px;
    font-family: 'my', sans-serif;
  }

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    width: 50%;
    margin : 0 auto;
    font-family: 'my', sans-serif;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }

  .form-button {
    padding: 10px 20px;
    background-color: #4791ff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'my', sans-serif;
    margin-right: 10px;
  }

  .modal-form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-label{
    display: flex;
    margin-bottom: 10px;
  }
  
  .form-input{
    margin-left: 20px;
  }

  .form-buttons{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    
  }

  .form-button:hover {
    background-color: #0467fc;
  }

  .form-button:last-child {
    margin-right: 0;
  }
  
  .form-label-calendar {
    padding : auto;
  }