.news-container {
  max-width: 1000px;
  margin: 30px auto;
  padding: 40px;
  background-color: #c9f4e2ba;
  border-radius: 10px;
}

.news-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  border-radius: 10px;
}

.news-header h2 {
  margin: 0;
}

.news-keyword{
  size : 20px;
  font-weight: bold;
}

.news-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.news-item {
  background-color: #ffffff;
  padding: 20px;
  flex-direction: column;
  margin-bottom: 20px;
  text-align: left;
  border-radius: 10px;
}


.news-item h2 {
  margin: 0;
}

.news-item p {
  margin: 10px 0;
}

.news-cat{
  color: tomato;
}

.news-item p2 {
  margin: 20px 0px 10px 0px;
  float: right;
}
